# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [16]:
numberFloat = 2.3

print(numberFloat)

2.3

#### Performing Calculations on ints and floats

##### Addition

In [ ]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

# Short-hand version 
result += 2 # result = result + 2
print(result)

##### Subtraction

In [6]:
result_diff = 5 - num1
print(result_diff)

# short-hand version
result_diff -= 1
print(result_diff)

#decrementation
# result_diff = result_diff - 1
result_diff -= 1

NameError: name 'num1' is not defined

##### Multiplication

In [8]:
result_mul = 12 * 2
print(result_mul)

24

##### Division

In [10]:
result_div = 50 / 5
print(result_div)

#short-hand version
result_div /= 2
print(result_div)

10.0
5.0

##### Floor Division

In [13]:
result_floor = 20 //6
print(result_floor)

#short-hand version
result_floor //= 2
print(result_floor)

3
1

##### Modulo

In [14]:
result_mod = 10 % 3
print(result_mod)

#short-hand version
result_mod %= 2
print(result_mod)

1
1

##### Exponential

In [15]:
square = 5 ** 2
print(square)

#short-hand version
square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [18]:
name = "Luis"
print(name)

Luis

##### print() <br>
<p>Don't forget about end=' '</p>

In [24]:
print("This is my first name:", name)

print("Full Name:", name, end=" Marin")

This is my first name: Luis
Full Name: Luis Marin

##### String Concatenation

In [26]:
first = "Harry"
last = "Potter"

full_name = first + "" + last
print(full_name)

#shorthand
full_name += "the 3rd"

HarryPotter

##### Type Conversion

In [29]:
number = '45'

new_type = int(number)
print(new_type)
type(number)

some_word ="Coding"
int(some_word)

45

ValueError: invalid literal for int() with base 10: 'Coding'

##### input()

In [32]:
#input will always return a string

#syntax:variableName = input("some question goes here...")

#name = input("What is your name?")
#print(name)

age = int(input('what is your age?'))

add_age = age +1
print(add_age)

what is your age?19
20

##### format()

In [37]:
time = input("How long have you been at Coding Temple")
result_2= name

#non efficient way...sentence ="Your name is" + name + ""+ "You have been at ct for" + time
result ="Your name is {} you havebeen at CT for{}".format(name,time)
print(result)

#f string 
result_2 + f"Your name is {name} you have been at CT for {time}!"
print(result_2)

How long have you been at Coding Temple9 months
Your name is 99 you havebeen at CT for9 months
99

##### Old Way (python 2)

In [ ]:
result_3 = "You have been at CT for %s" %time
print(result_3)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [42]:
color= input("what is the color of your car?")
year= input("What year is your car?")
make= input("what is the make?")
model= input("what model is your car?")

result="Your car is {} , the year is {}, the make is {}, the model is {}".format(color,year,make,model)
print(result)

what is the color of your car?blue
What year is your car?2015
what is the make?bmw
what model is your car?335i
Your car is blue , the year is 2015, the make is bmw, the model is 335i

### If Statements

In [45]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

num1 = 5
num2 = 10

if num1 == num2:
    print("Equal values")
else:
    print("Not Equal")
    
if num2 >= num1:
    print("num2 is greater or equal")
elif num2 <= num1:
    print("num2 less or equal")

Not Equal
num2 is greater or equal

##### 'is' keyword

In [47]:
# use is if we are checking for the same or similar object, not necesarily the same value
num3 = "Luis"
num4 = "Luis"
if num3 is num4:
    print('this the exact object')

this the exact object

##### 'in' keyword

In [48]:
#Check if a character is in a name

char_name  ="Max Payne"
if "Max" in char_name:
    print("The character who lost everything...")

The character who lost everything...

##### 'not in' keyword'

In [51]:
char_two = "Sonic"

if 'a' not in char_two:
    print("There is not an a")

There is not an a

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [59]:
name = input("What is your name?")
if 'p' in name:
        print(True)
if 'p' not in name:
        print(False)
    
#shorthand
"l" in name

What is your name?luis
False

True

## Using 'and'/'or' with If Statements

In [64]:
#|Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num_1 = 15
num_2 = 3
num_3 = 10
num_4 = 2

#If with "and" keyword
if 15/5 == 3 and 10 - 8 == 2:
    print("true and true")
    
# if with "or"l keyword
if 15 -7 == 80 or 2 + 2 == 4:
    print("At least on is true")

true and true
At least on is true

### Elif Statements

In [68]:
school_name = "Harvard"

if school_name == "Indiana University":
    print("This is IU")
elif school_name =="Coding Temple":
    print("It is not IU, it is Coding Temple")
elif school_name != "CTU":
    print('Not IU, Not Coding Temple, Not CTU')
else:
    print(f"I have never heard of {school_name}")

Not IU, Not Coding Temple, Not CTU

### Else Statements

In [ ]:
# see above

### For Loops

In [72]:
# "for" keyword, counter, "in" keyword

name = "Luis Marin"

for n in name:
    print(char)
char

n
n
n
n
n
n
n
n
n
n

'n'

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [82]:
for i in range(20):
    if i %3 == 0:
        continue
        print(i)

##### Break Statement

In [ ]:
# will break out of current loop

In [90]:
for i in range(20):
    if i == 7:
         break
    print(i)

0
1
2
3
4
5
6

## Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [92]:
for i in name:
    pass #ToDO item: telling yourself to come back and finish later(will not break your code or cause errors)

##### Double For Loops

In [94]:
for i in range(5):
    for j in range(5):
        print(f'i = {i}, j = {j}')

i = 0, j = 0
i = 0, j = 1
i = 0, j = 2
i = 0, j = 3
i = 0, j = 4
i = 1, j = 0
i = 1, j = 1
i = 1, j = 2
i = 1, j = 3
i = 1, j = 4
i = 2, j = 0
i = 2, j = 1
i = 2, j = 2
i = 2, j = 3
i = 2, j = 4
i = 3, j = 0
i = 3, j = 1
i = 3, j = 2
i = 3, j = 3
i = 3, j = 4
i = 4, j = 0
i = 4, j = 1
i = 4, j = 2
i = 4, j = 3
i = 4, j = 4

### While Loops

##### Looping 'While True'

##### While & For Loops Used Together

### Built-In Functions

##### range()

##### len()

##### help()

##### isinstance()

##### abs()

### Try and Except

### Lists

##### Declaring Lists

In [97]:
list_1 = []

names = ['Max', 'Cindy','Kathy','Bob']
print(names)

['Max', 'Cindy', 'Kathy', 'Bob']

##### Indexing a List

In [98]:
#Syntax: list_name[start:stop:step]

#Single index -- list_name[index]
print(names[0])

#Print starting at idx 1, go until the end
print(names[1:])

#print eberything form start up to idx 2
print(names[:3])

#Print beginning at id 1, go through the end, step by 2
print(names[1::2])

#print starting at the end in reverse order
print(names)
print(names[::-1])

Max
['Cindy', 'Kathy', 'Bob']
['Max', 'Cindy', 'Kathy']
['Cindy', 'Bob']
['Max', 'Cindy', 'Kathy', 'Bob']
['Bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [99]:
names.append("Joel")
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Joel']

##### .insert()

In [100]:
# list_name.insert(idx, value)
names.insert(1, 'Luis')
print(names)

['Max', 'Luis', 'Cindy', 'Kathy', 'Bob', 'Joel']

##### .pop()

In [101]:
#default to the very last index if no parameter
# pop returns the element you pop, so you can store it as a variable and use it if you want

my_name = names.pop(1)
print(my_name)
print(names)

Luis
['Max', 'Cindy', 'Kathy', 'Bob', 'Joel']


##### .remove()

In [114]:
names = ['Max', 'Luis', 'Cindy', 'Kathy', 'Bob', 'Joel','Bob','Bob']

while 'Bob' in names:
    names.remove('Bob')
    print("Removing another bob...",names)

Removing another bob... ['Max', 'Luis', 'Cindy', 'Kathy', 'Joel', 'Bob', 'Bob']
Removing another bob... ['Max', 'Luis', 'Cindy', 'Kathy', 'Joel', 'Bob']
Removing another bob... ['Max', 'Luis', 'Cindy', 'Kathy', 'Joel']

##### del()

In [111]:
#list index to be removed, not a value in particular
#Be CAREFUL, can cause indexing errors
print(names)
del(names[1])
print(names)

['Max', 'Cindy', 'Kathy', 'Joel']
['Max', 'Kathy', 'Joel']

##### Concatenating Two Lists

In [115]:
#  will append two lists using the '+' operator, will not add up items in list
list_2 = [0,1,2]
list_3 = [3,4,5]

list_4 = list_2 + list_3
print(list_4)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [121]:
# list can hold any datatype OR object used in Python
# can have lists within other lists

names =['Jeff','Sam','josh','Tabitha',['Tameka','Sally','Jessica']]
print(names)

print(names[4][2])

['Jeff', 'Sam', 'josh', 'Tabitha', ['Tameka', 'Sally', 'Jessica']]
Jessica

##### Looping Through Lists

In [123]:
#  two different ways to loop: by value , by index

# Loop by value
for name in names:
    print(name)

# loop by index
for i in range(len(names)):
    print(names[i])

Jeff
Sam
josh
Tabitha
['Tameka', 'Sally', 'Jessica']
Jeff
Sam
josh
Tabitha
['Tameka', 'Sally', 'Jessica']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [210]:
cubes = [number**3 for number in range(1,11)]

for cube in cubes:
    print(cube)

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [207]:
for number in range(0,101):
    if number %2 != 0:
        print(number)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [183]:
age = int(input("How old are you? "))

if age < 18: 
    print('kids')
elif age >= 18 and age <= 65:
    print('adult')
else:
    print('seniors')

How old are you? 99
seniors